.login-form {
  width: 37.5rem;
  height: fit-content;
  background-color: white;
  color: black;
  font-family: 'Inter Tight', sans-serif;
}

.login-form .first-section,
.login-form .first-section-text,
.login-form .second-section label,
.login-form .second-section div {
  display: flex;
}


.login-form .first-section,
.login-form .first-section-text {
  align-items: center;
}

.login-form .first-section {
  padding: 1.25rem 2rem;
}

.login-form .first-section-text {
  font-weight: 300;
  font-size: 1.25rem;
  gap: 0.5rem;
}

.login-form .second-section {
  padding-block: 1.25rem;
  height: 100%;
  flex: 1;
}

.login-form .second-section label {
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.05rem;
  letter-spacing: -0.00875rem;
}

.login-form .second-section textarea,
.login-form .second-section input {
  background-color: #1111110D;
  font-size: 0.875rem;
  outline: none;
  font-weight: 300;
}

.login-form .second-section input {
  max-width: 20rem;
  padding: 1rem 1.25rem;
  flex: 1;
}

.login-form .second-section input::placeholder{
  opacity: 0.3;
}

.login-form .second-section textarea {
  resize: none;
  width: 100%;
  padding: 1rem 1.25rem;
  height: 6.25rem;
}