.video-element {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content-overlay {
  position: relative;
  z-index: 3;
  color: white;
  font-family: 'Moela', sans-serif;
}

.slide-description {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3rem;
  letter-spacing: -0.02rem;
}

@media (max-width: 640px) {
  .content-overlay div div h1 {
    font-size: 1.25rem;
  }
}

@media (min-width: 640px) {
  .content-overlay div div h1 {
    font-family: 'Moela', sans-serif;
    font-size: 4rem;
  }
}

@media (max-width: 603px) {
  .content-overlay div div h1 {
    font-size: 2.8rem;
    text-align: center;
  }

  .content-overlay div div p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }

  .content-overlay div div div h2 {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .content-overlay div div h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .content-overlay div div p {
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: center;
  }

  .content-overlay div div div h2 {
    font-size: 2rem;
  }
}
