@media (max-width: 1024px) {
  .sticky-div{
    padding-inline: 6.5rem;
  }
}

@media (max-width: 740px) {
  .sticky-div{
    padding-inline: 3.5rem;
  }
}

@media (max-width: 573px) {
  .sticky-div{
    padding-inline: 2.5rem;
  }
}

@media (max-width: 541px) {
  .sticky-div{
    padding-inline: 2rem;
  }
}

