@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Moela";
  src: url("./fonts/MOELA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

body {
  height: auto;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  scroll-behavior: smooth;
  background-color: #0c0c0c;
  background: linear-gradient(from top, rgb(0, 0, 0) 20%, rgb(225, 225, 225) 80%);
}

@media (max-width: 640px) {
  body{
    overflow-x: hidden;
    width: 100vw;
    max-height: 100vh;
  }

  main {
    width: 100vw;
    height: 100vh;
    overflow-x: clip;
  }

  section {
    width: 100%;
    max-width: 100vw;
  }
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1,
h3 {
  font-family: "Moela", sans-serif;
}

p,
h4,
label{
  font-family: "Inter Tight", sans-serif;
}

button, a {
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  cursor: pointer;
}